.AddAuthorForm {
    width: 80%;
    margin: 50px 10%;
}

.AddAuthorForm__input {
    margin-bottom: 20px;
}

.AddAuthorForm__input > label {
    display: block;
}

.AddAuthorForm__error {
    color: #c0392b;
    font-size: 0.85em;
    display: block;
    margin-top: 4px;
}