.turn > div {
  height: 400px;
}

.turn { 
  padding-top: 20px;
  padding-bottom: 20px;
}

.authorimage {
  max-height: 100%;
  width: 100%;
}

.answer {
  background-color: #F0F7FD;
  border-color: #D0E3F0;
  margin-bottom: 20px;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #D0E3F0;
  cursor: pointer;
}

.answer:hover {
  background-color: #D0E3F0;
}

.continue {
  padding-top: 20px;
  padding-bottom: 20px;
}

.score {
  padding: 10px 0;
}

.score__text {
  font-size: 1.1em;
  font-weight: bold;
  color: #555;
}

.game-over {
  padding: 60px 0;
}

.game-over h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}